.app-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  font-family: Arial;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card {
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #ddd;
}

.toggle-btn {
  margin: 10px 0;
  padding: 8px 12px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.body-text {
  margin-top: 10px;
  color: #444;
  line-height: 1.5;
}
.loader {
  width: 30px;
  height: 30px;
  border: 4px solid #ddd;
  border-top-color: black;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
